@import url('..://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,300i,400,700&display=swap');
@import url(http://allfont.ru/allfont.css?fonts=bebas-neue);
@font-face {
    font-family: 'Bebas Neue';
    src: url('../BebasNeueBook.eot');
    src: url('../BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../BebasNeueRegular.woff2') format('woff2'),
        url('../BebasNeueRegular.woff') format('woff'),
        url('../BebasNeueRegular.ttf') format('truetype'),
        url('../BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.navbar-brand {
    font-family: 'Bebas Neue';
    font-size: 30px;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../BebasNeueBook.eot');
    src: url('../BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../BebasNeueBook.woff2') format('woff2'),
        url('../BebasNeueBook.woff') format('woff'),
        url('../BebasNeueBook.ttf') format('truetype'),
        url('../BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
//body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Bebas Neue', arial;
}
